mixin subnavli(path)
  li
    a(href=path)
      block
      

extends layout

block content

  include about_header

  .container
    .row
      .col-sm-9

  

      .col-sm-3
//        img.img-responsive.img-home(src="http://static.dutra.io/images/about_intro.jpg")
