
.nav.navbar-default(role="navigation")
  .container

    .navbar-header
      a.navbar-brand(href="/") dutra.io

    .collapse.navbar-collapse.navbar-right
      ul.nav.navbar-nav
        li
          a(href="/") home
        li
          a(href="#") about
        li
          a(href="#") photos
        li
          a(href="#") contact
      
        
      