
extends layout

block stylesheets
  link(rel='stylesheet', type='text/css', media='all' href='/stylesheets/vendor/leaflet.css')
  link(rel='stylesheet', type='text/css', media='all' href='/stylesheets/vendor/MarkerCluster.css')
 
block scripts
  script(type='text/javascript', src='/javascripts/vendor/leaflet.js')
  script(type='text/javascript', src='/javascripts/vendor/leaflet.markercluster.js')
  
  script(type='text/javascript').
    var photo = !{JSON.stringify(photo)}
    var scene = !{JSON.stringify(scene)}
  script(type='text/javascript', src='/javascripts/photo.js')

block content

  .container
    .row
      .col-sm-12
        if photo
          img.img-responsive.img-photo(src='http://static.dutra.io/photos/'+photo.album_id+'/'+photo.id+'.jpg')
    .row
      .col-sm-8
        p.title= photo.title
        p.description= photo.description
      .col-sm-4
        #map-photo