
extends layout

block stylesheets
    link(rel='stylesheet', type='text/css', media='all' href='/stylesheets/vendor/nanogallery_clean.css')
 
block scripts
  script(type='text/javascript', src='/javascripts/photos.js')

block content

  .container
    .row
      .col-sm-12
        if photo
          img.img-responsive.img-photo(src='http://static.dutra.io/photos/'+photo.owner+'/'+photo.id+'.jpg')
    .row
      .col-sm-8
        span.title= photo.title
      
        