
extends layout

block stylesheets
    link(rel='stylesheet', type='text/css', media='all' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css')

block content
    .container
        .row
            .col-sm-12
                !{md}
