
extends layout

block stylesheets
    link(rel='stylesheet', type='text/css', media='all' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css')

block scripts
    script(type='text/x-mathjax-config')
        | MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/mathjax/2.5.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
    script(type='text/javascript', src='/javascripts/post.js')

block content
    a.cd-top(href="#0") Top
    .container
        - if (sections.length > 0)
            .row
                .col-sm-6
                    nav.bs-docs-sidebar
                        ul.nav.bs-docs-sidenav
                            - for(var i = 0; i < sections.length; i++)
                                - var section = sections[i];
                                li
                                    a(href=section.anchor)= section.title
                                    ul.nav
                                        - for(var j=0; j<section.subsections.length; j++)
                                            - var subsection = section.subsections[j];
                                            li
                                                a(href=subsection.anchor)= subsection.title
                                        
                                    
        .row
            .col-sm-12
                |  !{md}
