
extends layout

block stylesheets
    link(rel='stylesheet', type='text/css', media='all' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css')

block scripts

block content
    .container
        .row
            .col-sm-6
                nav.bs-docs-sidebar
                    ul.nav.bs-docs-sidenav
                        li
                            | AVR
                            ul.nav
                                li
                                    a(href="/posts/avr_fixed_point") Fixed Point Arithmetic with AVR-GCC
